.reset-password-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;

  .reset-password-title {
    font-size: 3em;
    text-align: center;
  }

  .reset-password-content {
    display: flex;
    margin-top: 50px;

    .reset-password-form {
      font-size: 1.5em;
      width: 400px;
  
      input {
        height: 40px;
        width: 100%;
        margin-top: 20px;
      }
  
      .password-check {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
  
        input {
          margin: unset;
          width: unset;
          margin-right: 10px;
        }
        span {
          font-size: 15px;
        }
      }
  
      .btn {
        height: 50px;
        width: 100%;
      }
    }
  }
}