<div class='reset-password-container'>
  <div class='reset-password-title'>Customer Portal</div>
  
  <div class='reset-password-content'>
    <div class='reset-password-form'>
      <form (ngSubmit)="onResetPassword()">
        <input name='password' [type]="showPassword ? 'text' : 'password'" [(ngModel)]='password' placeholder='New Password' required/>
        <div class='password-check'><input type='checkbox' (click)="onTogglePasswordVisibility()"/><span>Show Password</span></div>
        <button type='submit' class='btn btn-primary'>Reset Password</button>
      </form>
    </div>
  </div>
  
  
</div>
