<div class="project-data-view-modal">
  <dx-toolbar class="header">
    <dxi-item location="before" *ngIf="!isBidRetrieverAdmin">
      <div *dxTemplate>
        <div class="toolbar-notification">
          * Grey rows are the system data so you are not able to edit them.
        </div>
      </div>
    </dxi-item>

    <dxi-item location="after" widget="dxButton" [options]="toolbarConfig.editView"></dxi-item>
    <dxi-item location="after" widget="dxButton" [options]="toolbarConfig.addView"></dxi-item>

    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.editView"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.addView"></dxi-item>
    <dxi-item locateInMenu="always">
      <div *dxTemplate>
        <div class="separator"></div>
      </div>
    </dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.deleteView"></dxi-item>
    <dxi-item locateInMenu="always">
      <div *dxTemplate>
        <div class="separator"></div>
      </div>
    </dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.refreshGrid"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.help"></dxi-item>
  </dx-toolbar>

  <div class="content" #dataViewContent>
    <dx-data-grid #dataViewGrid
                  id="dataViewGrid"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
                  columnResizingMode="widget"
                  [dataSource]="dataViewGridDataSource"
                  (onCellPrepared)="gridDataViewCellPreparedAction($event)"
                  (onRowPrepared)="gridDataViewRowPreparedAction($event)"
                  [remoteOperations]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true"
                  [showColumnLines]="true"
                  [showRowLines]="true">
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-scrolling mode="vertical"></dxo-scrolling>
      <dxo-selection mode="single"></dxo-selection>

      <dxi-column dataField="view_id" caption="View Id" [visible]="false" alignment="center"></dxi-column>
      <dxi-column dataField="view_name" caption="View Name" alignment="center"></dxi-column>
      <dxi-column dataField="view_type" caption="Type" alignment="center"></dxi-column>
      <dxi-column dataField="view_data_source_name" caption="Data Source" alignment="center"></dxi-column>
      <dxi-column dataField="view_filter_name" caption="Filter Name" alignment="center"></dxi-column>
      <dxi-column dataField="view_desc" caption="Description" alignment="center"></dxi-column>
    </dx-data-grid>
  </div>
</div>

<!-- Project Data View Details Modal -->
<dx-popup [closeOnOutsideClick]="true"
          [dragEnabled]="false"
          [(visible)]="isProjectDataViewDetailsModalShown"
          [showTitle]="true"
          [title]="projectDataViewDetailsModalTitle"
          width="80vw"
          height="80vh">
  <div *dxTemplate="let data of 'content'">
    <app-project-data-view-details-modal [mode]="projectDataViewDetailsModalMode"
                                         [currentViewId]="projectDataViewDetailsModalCurrentViewId"
                                         [openedTime]="projectDataViewDetailsModalOpenedTime"
                                         (onApply)="popupDetailsViewApplyAction()"
                                         (onCancel)="popupDetailsViewCancelAction()"
    ></app-project-data-view-details-modal>
  </div>
</dx-popup>
