.notes-edit-modal {
  width: 100%;
  height: auto;
  
    .notes-edit-form {
      margin-top: 20px;
      form {
        .notes-edit-form-body {
          display: flex;
          flex-direction: row;
            
          .double-col {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 5px;
            margin-top: 5px;
          }
  
          .notes-edit-form-help {
            margin-left: 50px;
            margin-top: 30px;
            font-size: 1.2em;
            min-width: 300px;
  
            .warning {
              color: red;
            }
          }

          .notes-form-half {
            display: flex;
            flex-direction: column;
  
            &.dx-fieldset {
              margin: 0;
            }
  
            .dx-field {
              display: flex;
              flex-direction: column;
  
              .dx-field-label {
                width: 100%;
              }
  
              .dx-field-value {
                width: 100%;
              }
            }
  
            .buttons button {
              height: 30px;
              font-size: .75rem;
            }
  
           
          }
        
  
      }

        }
  
        .notes-edit-form-buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-top: 10px;
        }
      }
    }
  
  
  .notes-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  
    .left-pane {
      width: calc(20% - 5px);
      border: 1px solid #dee2e6;
    }
  
    .mid-pane {
      width: calc(60% - 5px);
      display: flex;
      flex-direction: column;
    }

    .right-pane {
      width: calc(20% - 5px);
      border: 1px solid #dee2e6;
    } 

    .nodediv{
      width: 100%;
    }
    
    .notes{
      overflow-y: scroll;
    }
  }  
.desc{
  width:100%;
   display: block;
  }

  .buttons button{
    padding: 5px 25px;
    margin-right:8px;
}
ul{
  list-style-type: none;
  padding: 0px;
}

.notes .desc {
  width: 100%;
  padding: 20px;
  background-color: #f5f4f4;
  box-shadow: 0px 0px 8px #9e9e9e;
  margin-bottom: 30px;
}

.notes .buttons {
  padding: 10px 0 15px;
  display: flex;
  justify-content: flex-end;
}

.notes .buttons button {
  padding: 2px 10px !important;
}

.notes {
  padding: 10px 20px;
}

.desc h4 {
  color: #d9534f;
}

.buttons button.edit-btn.gray {
    background-color: #404142 ;
}

.buttons button.del-btn {
    background-color: #d9534f;
}
.buttons button.edit-btn.gray:hover{
  background-color: #545454 !important;
}

.buttons button.del-btn:hover {
  background-color:#bd1c17 !important;
}
.buttons button.edit-btn.ad_com {
  background-color: #007bff !important;
}
.buttons button.ad_com:hover {
  background-color: #0069d9 !important;
}

.notes .desc {
  position: relative;
}

.notes .desc .buttons {
  position: absolute;
  top: 4px;
  right: 0px;
}
.notes ul.child-flow {
  padding-left: 60px;
}
.desc-header {
  border-bottom: 1px solid #dadada;
  padding-bottom: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.desc-header h5:last-child {
  margin-left: 13px;
}

.desc-header h5 {
  font-size: 15px;
}
.desc-header h5 span {
  color: #d9534f;
}

.descript{
  word-break: break-word;
}