<!-- Document Detail Modal -->
<div #documentDetailModal class='modal-container' [ngClass]="{'bg-transparent': (hasTransparentBackground)}">
  <div class='modal-box'>
    <div class='document-detail-modal'>
      <div class='d-flex justify-content-between'>
        <span><b>Number: </b>{{ currentDocument.doc_number }}</span>
        <span><b>Name: </b>{{ currentDocument.doc_name }}</span>
        <span><b>Page: </b>{{ currentDocument.doc_pagenumber }}</span>
      </div>
      <div class='d-flex justify-content-between'>
        <div class='d-flex flex-column'>
          <span><b>Project Name: </b>{{ currentProject.project_name }}</span>
          <span><b>Subproject Name: </b>{{ currentDocument.doc_subproject }}</span>
        </div>
        <div class='d-flex flex-column'>
          <span><b>Submission Name: </b>{{ currentSubmission.submission_name }}</span>
          <span><b>Submission Date/Time: </b>{{ currentSubmission.submission_date }}</span>
          <span><b>Submitted By: </b>{{ currentSubmission.submitter_email }}</span>
        </div>
      </div>
      <div class='modal-controls'>
        <select class='document-view-mode' [(ngModel)]='documentsViewMode'>
          <option value="all">All Documents View</option>
        </select>
        <input class='revisions-search' type='text' placeholder='Search' (input)="onSearchChange($event.target.value)"/>
        <div class='button-group'>
          <button class='btn btn-light' (click)='onViewDocument()'>View Document</button>
          <button class='btn btn-light' (click)='onViewComparison()'>View Comparison</button>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Actions
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)='onViewDocument()'>View Document</a>
              <a class="dropdown-item" (click)='onViewComparison()'>View Comparison</a>
              <a class="dropdown-item" (click)='onRegenComparison()'>Regenerate Comparisons</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)='onViewParentFile()'>View Parent File</a>
              <a class="dropdown-item" (click)='onViewRasterFile()'>View Raster File</a>
              <div class="dropdown-divider"></div>
              <a *ngIf='!dataStore.isSharedProject' class="dropdown-item" (click)='onEditDocument()'>Edit Document</a>
              <a *ngIf='!dataStore.isSharedProject' class="dropdown-item" (click)='onRemoveDocument()'>Remove Document</a>
              <a class="dropdown-item" (click)='onPrintReport()'>Print Document Report</a>
              <div class="dropdown-divider orange"></div>
              <a class="dropdown-item" (click)='onRefresh()'>Refresh Grid</a>
              <a class="dropdown-item orange" (click)='onHelp()'>Help</a>
            </div>
        </div>
      </div>
    </div>

    <div class='revisions-table'>
      <ag-grid-angular
        #grid
        style="width: 100%;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        rowDragManaged=true
        (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
    </div>

    <button class='btn btn-primary btn-close' (click)='onCloseModal()'>Close</button>
  </div>
</div>

<edit-document-modal #editDocumentModal></edit-document-modal>
