<div class="view-employee">
    <div class="view-employee-header">
      <div class='employee-name'>{{ this.contactLastname + ', '+ this.contactFirstname }}</div>
      <div class='employee-info-group'>
                <div class='employee-info'>
          <span class='text-muted'>STATUS</span>
          <span>{{ contactStatus }}</span>
        </div>
      </div>
    </div>
  
    <div class="view-employee-content">
      <ul class="nav nav-tabs" id="view_contact_tabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="tab-overview"
            data-toggle="tab"
            role="tab"
            href="#overview"
            aria-controls="home"
            aria-selected="true"
          >
            OVERVIEW
          </a>
        </li>
      </ul>
      <div class="view-employee-router">
        <router-outlet></router-outlet>
      </div>
    </div>
  
    <div class="view-employee-footer">
      <dx-button class="action-close" type="danger" text="Close" (click)="btnCloseAction()"></dx-button>
    </div>
  </div>
  