<div class="my-contacts">
  <dx-toolbar class="header" #projectToolbar>
    <dxi-item location="center" widget="dxTextBox" [options]="toolbarConfig.search"></dxi-item>
    <dxi-item location="after" widget="dxButton" [options]="toolbarConfig.viewContact"></dxi-item>
    <dxi-item location="after" widget="dxButton" [options]="toolbarConfig.addContact"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.viewContact"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.addContact"></dxi-item>
    <dxi-item locateInMenu="always" title="">
      <div *dxTemplate>
        <div class="separator"></div>
      </div>
    </dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.viewTransactionLog"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.refreshGrid"></dxi-item>
    <dxi-item locateInMenu="always" widget="dxButton" [options]="toolbarConfig.others.help"></dxi-item>
  </dx-toolbar>
  <div class="content" #projectContent>
    <dx-data-grid #projectGrid id="projectGrid" 
      [dataSource]="projectGridDataSource"
      [allowColumnReordering]="true" 
      [allowColumnResizing]="true"
      columnResizingMode="widget" 
      [columns]="projectGridColumns" 
      [showColumnLines]="true" [showRowLines]="true"
      [showBorders]="true" [rowAlternationEnabled]="true" [columnAutoWidth]="true" [remoteOperations]="true"
      width="100%" 
      (onContextMenuPreparing)='addProjectGridMenuItems($event)' 
      (onRowDblClick)='toolbarViewContactAction()' >
      <dxo-editing mode="cell" [allowDeleting]="false" refreshMode="reshape"></dxo-editing>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-header-filter [visible]="false"></dxo-header-filter>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-scrolling mode="vertical"></dxo-scrolling>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <div *dxTemplate="let cell of 'dateCell'">
        {{ cell.value | moment: 'YYYY-MM-DD hh:mm a z' }}
      </div>
    </dx-data-grid>
  </div>
  <div class="total-number-of-rows">Total: {{projectGridContent.length}} rows</div>
</div>
<!-- Transaction Logs Modal -->
<transaction-logs-modal #transactionLogsModal></transaction-logs-modal>

<!-- Add Contact Modal -->
<add-contact-modal #addContactModal></add-contact-modal>