.modal-container {
  visibility: 'visible';

  .transaction-logs-modal {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 160px);
    height: calc(100vh - 160px);

    .modal-header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0;

      .logs-search {
        text-align: center;
      }
    }

    .logs-table {
      flex-grow: 1;
      display: flex;
      overflow: scroll;
    }

    .btn-close {
      flex-shrink: 0;
      margin-left: auto;
      margin-top: 20px;
    }
  }
}