<dx-scroll-view #logScrollView
                [scrollByContent]="true"
                [scrollByThumb]="true">
  <dx-button type="normal" text="Download" (click)="onDownload()"></dx-button>
  <div class="record-logs" [innerHTML]="log"></div>
</dx-scroll-view>

<dx-load-panel #loadPanel
               shadingColor="rgba(0, 0, 0, .4)"
               [(visible)]="logIndicatorVisible"
               [showIndicator]="true"
               [shading]="true"
               [closeOnOutsideClick]="false">
</dx-load-panel>
