.system-settings-content {
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  flex-grow: 1;

  .system-settings-menu {
    width: 25%;
    margin-right: 30px;
  }

  .system-settings-board {
    width: 75%;
    margin-left: 30px;
  }
}
