<div>Customer Settings</div>

<div class="list-group" id="list-tab" role="tablist">
  <a (click)="onClickMenu(1)" class="list-group-item list-group-item-action active" id="list-user-setup" data-toggle="list" href="#list-user-setup" role="tab" aria-controls="user-setup">User Setup</a>
  <a (click)="onClickMenu(2)" class="list-group-item list-group-item-action" id="list-customer-information" data-toggle="list" href="#list-customer-information" role="tab" aria-controls="customer-information">Company Information</a>
  <a (click)="onClickMenu(3)" class="list-group-item list-group-item-action" id="list-company-office-setup" data-toggle="list" href="#list-company-office-setup" role="tab" aria-controls="company-office-setup">Company Offices</a>
  <a (click)="onClickMenu(4)" class="list-group-item list-group-item-action" id="list-document-settings" data-toggle="list" href="#list-document-settings" role="tab" aria-controls="document-settings">Document Settings</a>
  <a (click)="onClickMenu(5)" class="list-group-item list-group-item-action" id="list-destination-system-settings" data-toggle="list" href="#list-destination-system-settings" role="tab" aria-controls="destination-system-settings">Destination System Settings</a>
  <a (click)="onClickMenu(6)" class="list-group-item list-group-item-action" id="list-source-system-accounts" data-toggle="list" href="#list-source-system-accounts" role="tab" aria-controls="source-system-accounts">Source System Accounts</a>
  <a (click)="onClickMenu(7)" class="list-group-item list-group-item-action" id="list-notification-settings" data-toggle="list" href="#list-notification-settings" role="tab" aria-controls="notification-settings">Notification Settings</a>
  <a (click)="onClickMenu(8)" class="list-group-item list-group-item-action" id="list-subscription-settings" data-toggle="list" href="#list-subscription-settings" role="tab" aria-controls="subscription-settings">Subscription Settings</a>
</div>
