<div class='doc-viewer'>
  <div id='docViewer'></div>
  <div class='menubar-info-section'>
    <b *ngIf='currentDocument && !isCurrentRevision()' class='text-danger'>Not Current Revision</b>
    <b *ngIf='currentDocument && isCurrentRevision()'>Current Revision</b>
    <b>{{ currentDocument?.display_name }}</b>
    <span class='text-secondary'>{{ currentProject && currentProject.project_name  }}</span>
  </div>
</div>

<div #documentDetails class='doc-detail-section'>
  <div class='doc-detail'><b>Doc Number:</b></div>
  <div>{{ currentDocument?.doc_number }}</div>
  <div class='doc-detail'><b>Doc Name:</b></div>
  <div>{{ currentDocument?.doc_name }}</div>
  <div class='doc-detail'><b>Doc Submission Name:</b></div>
  <div>{{ currentDocument?.submission_name }}</div>
  <div class='doc-detail'><b>Doc Submission Date/Time:</b></div>
  <div>{{ formatDateTime(currentDocument?.submission_datetime) }}</div>
  <div class='doc-detail'><b>Doc Submission User:</b></div>
  <div>{{ currentDocument?.submitter_email }}</div>
  <div class='doc-detail'><b>Source Filename:</b></div>
  <div>{{ currentDocument?.file_original_filename }}</div>
  <div class='doc-detail'><b>Revisions:</b></div>
  <div *ngFor='let revision of currentDocument?.revisions' class='clickable' [ngClass]="{'current': !currentComparison && (currentRevision ? currentRevision.doc_id === revision.doc_id : revision.doc_id === currentDocument.doc_id)}" (click)='onClickRevision(revision)'>Rev - {{ revision.doc_revision }}</div>
  <div class='doc-detail'><b>Comparisons:</b></div>
  <div *ngFor='let comparison of currentDocument?.comparisons' class='clickable' [ngClass]="{'current': currentComparison && (currentComparison.doc_revision === comparison.doc_revision)}" (click)='onClickComparison(comparison)'>comp-{{ comparison.doc_revision }}</div>
</div>

<div #favoritesListContainer class='doc-list-section'>
  <horizontal-split-pane
    primary-component-minsize='200'
    secondary-component-minsize='200'
    local-storage-key='horizontal-split-pane'
  >
    <div class='split-pane-content-primary'>
      <div *ngFor='let favorite of favorites' class='list-item' [ngClass]="{'selected': currentDocument && (favorite.favorite_id === currentDocument['doc_id'])}" (click)='onClickFavorite(favorite)'>
        {{ favorite.document ? (favorite.document.display_name || favorite.document.doc_name) : favorite.favorite_id }}
      </div>
    </div>
    <div class='split-pane-content-secondary'>
      <div class='doc-detail-section'>
        <div class='doc-detail'><b>Revisions:</b></div>
        <div *ngFor='let revision of currentDocument?.revisions' class='clickable' [ngClass]="{'current': !currentComparison && (currentRevision ? currentRevision.doc_id === revision.doc_id : revision.doc_id === currentDocument.doc_id)}" (click)='onClickRevision(revision)'>Rev - {{ revision.doc_revision }}</div>
        <div class='doc-detail'><b>Comparisons:</b></div>
        <div *ngFor='let comparison of currentDocument?.comparisons' class='clickable' [ngClass]="{'current': currentComparison && (currentComparison.doc_revision === comparison.doc_revision)}" (click)='onClickComparison(comparison)'>comp-{{ comparison.doc_revision }}</div>
      </div>
    </div>
  </horizontal-split-pane>
</div>

<div #currentPlansContainer class='doc-list-section'>
  <horizontal-split-pane
    primary-component-minsize='200'
    secondary-component-minsize='200'
    local-storage-key='horizontal-split-pane'
  >
    <div class='split-pane-content-primary'>
      <div *ngFor='let currentPlan of filteredCurrentPlans' class='list-item' [ngClass]="{'selected': currentDocument && (currentPlan.doc_id === currentDocument['doc_id'])}" (click)='onClickCurrentPlan(currentPlan)'>
        {{ currentPlan.display_name }}
      </div>
    </div>
    <div class='split-pane-content-secondary'>
      <div class='doc-detail-section'>
        <div class='doc-detail'><b>Revisions:</b></div>
        <div *ngFor='let revision of currentDocument?.revisions' class='clickable' [ngClass]="{'current': !currentComparison && (currentRevision ? currentRevision.doc_id === revision.doc_id : revision.doc_id === currentDocument.doc_id)}" (click)='onClickRevision(revision)'>Rev - {{ revision.doc_revision }}</div>
        <div class='doc-detail'><b>Comparisons:</b></div>
        <div *ngFor='let comparison of currentDocument?.comparisons' class='clickable' [ngClass]="{'current': currentComparison && (currentComparison.doc_revision === comparison.doc_revision)}" (click)='onClickComparison(comparison)'>comp-{{ comparison.doc_revision }}</div>
      </div>
    </div>
  </horizontal-split-pane>
</div>

<div #comparisonListContainer class='doc-list-section'>
  <horizontal-split-pane
    primary-component-minsize='200'
    secondary-component-minsize='200'
    local-storage-key='horizontal-split-pane'
  >
    <div class='split-pane-content-primary'>
      <div *ngFor='let comparisonPlan of filteredComparisonPlans' class='list-item' [ngClass]="{'selected': currentComparison && (currentComparison.doc_id === comparisonPlan.doc_id)}" (click)='onClickComparisonPlan(comparisonPlan)'>
        {{ comparisonPlan.display_name }}
      </div>
    </div>
    <div class='split-pane-content-secondary'>
      <div class='doc-detail-section'>
        <div class='doc-detail'><b>Revisions:</b></div>
        <div *ngFor='let revision of currentDocument?.revisions' class='clickable' [ngClass]="{'current': !currentComparison && (currentRevision ? currentRevision.doc_id === revision.doc_id : revision.doc_id === currentDocument.doc_id)}" (click)='onClickRevision(revision)'>Rev - {{ revision.doc_revision }}</div>
        <div class='doc-detail'><b>Comparisons:</b></div>
        <div *ngFor='let comparison of currentDocument?.comparisons' class='clickable' [ngClass]="{'current': currentComparison && (currentComparison.doc_revision === comparison.doc_revision)}" (click)='onClickComparison(comparison)'>comp-{{ comparison.doc_revision }}</div>
      </div>
    </div>
  </horizontal-split-pane>

</div>

<div #currentSpecsContainer class='doc-list-section'>
  <div *ngFor='let specs of filteredCurrentSpecs' class='list-item' [ngClass]="{'selected': currentDocument && (currentDocument.doc_id === specs.doc_id)}" (click)='onClickCurrentSpecs(specs)'>
    {{ specs.doc_name }}
  </div>
</div>

<div #sourceDocumentsContainer class='doc-list-section'>
  <div *ngFor='let sourceDocument of filteredSourceDocuments' class='list-item' [ngClass]="{'selected': currentDocument && (currentDocument.doc_id === sourceDocument.doc_id)}" (click)='onClickSourceDocument(sourceDocument)'>
    {{ sourceDocument.doc_name }}
  </div>
</div>

<div #docFilterContainer>
  <input class='doc-filter' type='text' (input)='onFilterChange($event.target.value)'/>
</div>

<!-- Document Detail Modal -->
<document-detail-modal #documentDetailModal></document-detail-modal>

<!-- Edit Project Modal -->
<edit-project-modal #editProjectModal></edit-project-modal>

<!-- Document Edit popup -->
<edit-document-modal #editDocumentModal></edit-document-modal>
