<div class='forgot-password-container'>
  <div class='forgot-password-title'>Customer Portal</div>
  
  <div *ngIf='!emailSent' class='forgot-password-content'>
    <div class='forgot-password-form'>
      <form (ngSubmit)="onRequestReset()">
        <input name='email' type='email' [(ngModel)]='email' placeholder='Email or Username' required/>
        <button type='submit' class='btn btn-primary'>Reset via Email</button>
      </form>
      <div class='forgot-password-bottom'>
        <a href='/sign-in'>Back to Sign In</a>
      </div>
    </div>
  </div>

  <div *ngIf='emailSent' class='forgot-password-content'>
    <div class='forgot-password-success'>
      <div class='forgot-password-success-title'>Email sent!</div>
      <div class='forgot-password-success-content'>Email has been sent to {{email}} with instructions on resetting your password.</div>
    </div>
    <button class='btn btn-primary' (click)='onBackToSignIn()'>Back to Sign In</button>
  </div>
  
  
</div>
