.forgot-password-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;

  .forgot-password-title {
    font-size: 3em;
    text-align: center;
  }

  .forgot-password-content {
    margin-top: 50px;
    width: 400px;

    .btn {
      height: 50px;
      width: 100%;
      margin-top: 30px;
    }

    .forgot-password-form {
      font-size: 1.5em;
      width: 100%;
  
      input {
        height: 40px;
        width: 100%;
        margin-top: 20px;
      }
  
      .forgot-password-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 15px;
      }
    }

    .forgot-password-success {
      text-align: center;

      .forgot-password-success-title {
        font-weight: 900;
      }
    }
  }
}