::ng-deep .my-calendar-content {
  padding: 10px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;

   .header {
    margin-bottom: 10px;

    .dx-toolbar-menu-container .dx-dropdownmenu-button {
      background-color: #007BFF;
      border-color: #007BFF;

      .dx-icon {
        color: #FFFFFF;
      }
    }
  }

  .my-calendar {
    height: calc(100vh - 350px);
    margin-bottom: 40px;

    .split-pane-content-primary, .split-pane-content-secondary {
      height: 100%;
    }

    .side-overview {
      height: 100%;
      padding: 5px;
      border: 2px solid lightgray;
      overflow-y: scroll;

      .data {
        font-size: .9rem;
        margin-bottom: 5px;

        .name {
          font-weight: 700;
        }

        .value {
          margin-left: 10px;
        }
      }
    }

    .calendar {
      height: 100%;
    }
  }
}


